body{
    background-image: url("/css/weather-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.input{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

label{
    color:black;
    font-size: larger;
    font-family: 'Courier New';
    font-weight: bold;
    margin-right: 10px;
}

#searchID{
   height: 50px;
   width: 150px;
   border-radius: 20px;
   font-family: 'Courier New';
   font-size: medium;
   font-weight: bold;
}

#cityID{
    height: 40px;
    width: 300px;
    border-radius: 20px;
    text-align: center;
}

#msg-content{
    text-align: center;
    color: black;
    padding-top: 150px;
}

h1{
    background-color: lightblue;
    border-radius: 20px;
}